body {
}
#table_3 tbody tr td:nth-child(1) {
    display:none;
}
#table_4 tbody tr td:nth-child(1) {
    display:none;
}
.amcharts-chart-div > a{
    display:none !important;
}
.amChartsLegend{
    margin-left:100px;
}